body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  border-bottom: 1px solid;
}

.App {
  width: 50%;
  margin: auto;

}

.content {
  border-radius: 6px;
  padding: 10px;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  border: 1px solid;
  padding: 10px;
  border-radius: 8px;
  align-items: center;
}

.todo>span {
  flex: 1;
  margin-left: 8px;
}

.todo>button {
  width: 140px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}

.todo>input {
  transform: scale(1.4);
}